 /* Style the tab 
 .tab-pane {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f101f1;
}
*/

.nav-tabs {
    float: above;
}


/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content 
.tab-content {
    border: 5px solid #ccc;
} 
*/